.login-fast
    color #a7b1c2
li
    border-left 0px
.login-classification
    text-align right 
.login-search
    background-color #26a69a
    padding 10px 12px
    margin-right 10px
    color #FFFFFF
.login-information
    margin-top 10px
.login-bj
    background-color #F1F3FA
    padding 10px 20px
    color #000000
.login-back
    padding 9px 12px
    border-radius 3px
    margin-left 5px
.login-back
    color #4389D4
    border 1px solid #d0d0d0
    background-color #FFFFFF
.login-number
    float right 
.login-order
    padding 10px
.login-list,
.login-lists,
.login-listss
    width 300px
    height 100px
    text-align right 
    color #FFFFFF
    padding 10px
.fa-comments,
.fa-trophy,
.fa-shopping-cart
    float left
    opacity 0.1
.login-list
    background-color #4C87B9
.login-lists
    background-color #d05454
.login-listss
    background-color #3faba4
.login-ranking
    width 33.3333333333333%
    text-align center
    border 3px solid transparent
    &:hover
        background-color red
        border-bottom 3px solid #F3565D
        color #F3565D
.login-information
    margin-top 35px
.login-find
    width 100%
    margin-top 10px
.login-situatio
    padding 20px 15%
.login-collet
    white-space nowrap
    margin-top 20px
    border 1px solid #DDDDDD
.login-collets
    white-space nowrap
    background-color #DDD
    margin-top 20px
.login-business
    padding 0 20%
.login-style
    margin-top 10px
.login-beijing
    background-color #FFFFFF
.login-layout
    margin-right 3%
.login-layouts
    padding 6px 8%
    background-color #E4E4E4
    border 1px solid #B5B9B9
    margin-bottom 20px
.login-layoutss
    margin-right 3%
    padding 6px 5%
    margin-bottom 20px
    background-color #E4E4E4
    border 1px solid #B5B9B9
hr
    border 1px solid #67A8EF
.login-address
    color #67A8EF
.login-top,
.login-bottoml,
.login-bottomr
    margin-top 20px
.login-select
    border 1px solid transparent
    background-color transparent
.login-footer
    background -webkit-linear-gradient(#FFFFFF, #CCCCCC) 
    background -o-linear-gradient(#FFFFFF, #CCCCCC) 
    background -moz-linear-gradient(#FFFFFF, #CCCCCC) 
    background linear-gradient(#FFFFFF, #CCCCCC) 
    padding 10px 0px 30px 0px
    margin-top 20px
.login-Page
    text-align right 
.login-numbers,
.login-numberss
    padding 0px 2px
    margin-right 5px
.login-numberss
    background-color #D54D2B
    color #FFFFFF
.login-numbers
    background-color #FFFFFF
    &:hover
        background-color #4474BB
.input-group-addon.login-choice 
    background-color #e4e4e4
    border 1px solid #b5b9b9
.login-bjs
    padding 10px 20px
    color #23292D
.btn-default.login-btn
    color #23292D
    background-color rgb(228, 228, 228)
    &:hover
        color #23292D
        background-color rgb(228, 228, 228)
.form-control.login-shuru
    border 1px solid #b5b9b9
.login-field
    width 19%
    float left
.login-set
    white-space nowrap
.login-srk
    width 50%
.login-fixed
    position fixed
    bottom 0px