.PMS-all
    width 100%
    height 100%
    white-space nowrap
    font-size 14px
    margin-bottom 10px
    .PMS-left
        float left
        width 300px
    .PMS-right
        margin-left 300px
.PMS-bg
    width 854px
    background-color #00AE9B
    padding 5px 10px
    color white
    position relative
    .PMS-img,
    .PMS-imgs
        width 30px
        position absolute
        left 864px
        color gray
        top 2px
        cursor pointer
    .PMS-imgs
        display none
.PMS-jcxx
    text-indent 2em
.PMS-select,
.PMS-input,
.add-input,
.add-select,
.add-address
    width 270px
    height 35px
    border-radius 4px
    border 1px solid gray
    margin-right 20px
    padding 5px
    outline medium
.PMS-select,
.add-select
    background-color #EFEEEE
.PMS-xing
        color #F00
        margin 0 5px
        font-size 20px
        vertical-align middle
.PMS-addall
    border 1px solid black
    padding 10px 15px
    width 854px
    margin 15px 0 0 0 
    display none
    overflow hidden
.PMS-addk
    border 1px solid #F89D30
    margin-top 5px
    .PMS-add
        background-color #F9A94A
        color white
        padding 5px 10px
        cursor pointer
        .fa-comments
            vertical-align super
        .fa-pause,
        .fa-play,
        .fa-repeat,
        .fa-plus-square
            margin-right 20px
.PMS-table
    margin 1%
    .PMS-td
        width 75px
        background-color #E2E2E2
    .PMS-td,
    .PMS-th
        border 1px solid gray
        text-align center
.PMS-check
    width 150px
    padding-bottom 5px
    .PMS-zdy
        width 120px
.add-all
    padding 100px
    .add-btn1,
    .add-btn2
        border-radius 5px
        padding 5px 10px
        color white
        margin 10px 40px 0 0 
        outline medium
    .add-btn1
        background-color #F9A94A
        border 2px solid #F89D30
    .add-btn2
        background-color #3386C9
        border 2px solid #2679B6
    .add-address
        width 350px
    .add-hang
        height 45px