.all 
    margin-left 300px
    white-space nowrap
    font-size 14px
.pms-bt,
.query-header 
    background-color #00AE9B
    color #FFFFFF
    padding  6px 12px
.pms-bt
    margin-right 50px
    .PMS-img,
    .PMS-imgs
        float right 
        margin-right -35px
        margin-top -5px
        color #A6A6A6
    .PMS-imgs
        display none
.pms-xing
    color #F00
    margin-left 10px
    font-size 18px
.pms-addwarehouse
    margin-right 50px
    border 1px solid #050505
    padding 12px
    display none
    .pms-add
        border 1px solid #F89D30
        padding 10px
    .pms-addheader
        background-color #F9A94A
        color #FFFFFF
        padding 6px 12px
        margin -10px -10px 15px -10px
.pms-addbusiness,
.pms-startwarehouse,
.pms-stopwarehouse,
.pms-return
    margin-left 3%
    cursor pointer
.pms-tb
    vertical-align super
.pms-business
    background-color #F1F1F1
.pms-input:focus,
.pms-select:focus
    border-color #CCC
    box-shadow none
.pms-set
    width 18%
    white-space normal
.pms-distribution
    border 1px solid #808080
    width 12% 
    height 34px
    padding 6px 12px
    border-radius 4px
    background-color white
.add-btn
    margin-top 7px
 .query-header 
     margin-top 20px
.query-record
    margin-right 50px
.query-zl
    margin 20px 30px 0 0 
.query-pss
    margin-right 73px
.query-dqys
    width 20px
    text-align center
.query-footer
    text-align center
.query-add
    background-color #F1F1F1