// .query-header 
//     background-color #00AE9B
//     color #FFFFFF
//     padding 6px 12px
//     margin-top 20px
// .query-record
//     margin-right 50px
// .pms-addbusiness,
// .pms-startwarehouse,
// .pms-stopwarehouse
//     margin-left 12px
//     cursor pointer
// .pms-tb 
//     vertical-align super
// .query-zl
//     margin-right 30px
//     margin-top 20px
// .query-pss
//     margin-right 73px
// .query-dqys
//     width 20px
//     text-align center
// .query-footer
//     text-align center
// .query-add
//     background-color #F1F1F1