extends templates/pms

block vars

block title
  |配送商地址导入

block styles

block content
    body.login-bjs
        h2.login-address 商家地址管理
            small (配送商：如风达快递有限公司)
        hr
        h3 设定站点
        form.form-inline
            省&nbsp;&nbsp;&nbsp;&nbsp;份:&nbsp;&nbsp;
            select.login-layoutss
                option 请选择
            select.login-layoutss
                option 请选择
            select.login-layoutss
                option 请选择
        form.form-inline
            配送商:&nbsp;&nbsp;
            select.login-layoutss
                option 请选择
        form.form-inline
            站&nbsp;&nbsp;&nbsp;&nbsp;点:&nbsp;&nbsp;
            select.login-layoutss
                option 请选择
        form.form-inline
            地址库:&nbsp;&nbsp;
            select.login-layoutss
                option 请选择
            input(type="checkbox")
            &nbsp;前置分单地址
            br
        form.form-inline.login-top
            div.form-group
                div.input-group
                    div.input-group-addon.login-choice 选择文件
                    input.login-select(type="text" class="form-control" placeholder="未选择任何文件")
                &nbsp;&nbsp;&nbsp;&nbsp;
                button(class="btn btn-default login-btn" type="button")
                    |上传
        form.form-inline.login-top
            地&nbsp;&nbsp;&nbsp;&nbsp;址:&nbsp;&nbsp;
            textarea(class="form-control" rows="3" cols="50")
            &nbsp;&nbsp;&nbsp;&nbsp;
            button(class="btn btn-default login-btn" type="button")
                |添加地址
        form.form-inline.login-top
            button(class="btn btn-default login-btn" type="button")
                |保存
            &nbsp;&nbsp;&nbsp;&nbsp;
            button(class="btn btn-default login-btn" type="button")
                |清除
