extends templates/pms

block vars

block title
  |地址库维护

block styles

block content
    body.login-bjs
        form.form-inline
            div.form-group
                label(for="exampleInputName2")地址库名称:
                input(type="text" class="form-control")
                &nbsp;&nbsp;
                label(for="exampleInputName2")绑定站点:
                input(type="text" class="form-control")
                &nbsp;&nbsp;
                i.fa.fa-search
                &nbsp;&nbsp;
                button(type="button" class="btn btn-default login-btn")查询
                &nbsp;&nbsp;
                button(type="button" class="btn btn-default login-btn")添加地址库
        div.table-responsive.login-top
            table.table.table-bordered
                tr.active
                    td
                        input(type="checkbox")
                    td
                        |地址库名称
                    td
                        |描述
                    td
                        |创建人
                    td
                        |创建时间
                    td
                        |操作
                tr.success
                    td
                        input(type="checkbox")
                    td
                        |O2O安定门站
                    td
                        |前置分单
                    td
                        |创建人
                    td
                        |2015/12/28 14:00:53
                    td
                        form.form-inlline
                                button(type="button" class="btn btn-default login-btn")修改
                                button(type="button" class="btn btn-default login-btn")停用
                                button(type="button" class="btn btn-default login-btn")日志
                tr.warning
                    td
                        input(type="checkbox")
                    td
                        |O2O安定门站
                    td
                        |前置分单
                    td
                        |创建人
                    td
                        |2015/12/28 14:00:53
                    td
                        form.form-inlline
                                button(type="button" class="btn btn-default login-btn")修改
                                button(type="button" class="btn btn-default login-btn")停用
                                button(type="button" class="btn btn-default login-btn")日志
                tr.success
                    td
                        input(type="checkbox")
                    td
                        |O2O安定门站
                    td
                        |前置分单
                    td
                        |创建人
                    td
                        |2015/12/28 14:00:53
                    td
                        form.form-inlline
                                button(type="button" class="btn btn-default login-btn")修改
                                button(type="button" class="btn btn-default login-btn")停用
                                button(type="button" class="btn btn-default login-btn")日志
                tr.warning
                    td
                        input(type="checkbox")
                    td
                        |O2O安定门站
                    td
                        |前置分单
                    td
                        |创建人
                    td
                        |2015/12/28 14:00:53
                    td
                        form.form-inlline
                                button(type="button" class="btn btn-default login-btn")修改
                                button(type="button" class="btn btn-default login-btn")停用
                                button(type="button" class="btn btn-default login-btn")日志
                tr.success
                    td
                        input(type="checkbox")
                    td
                        |O2O安定门站
                    td
                        |前置分单
                    td
                        |创建人
                    td
                        |2015/12/28 14:00:53
                    td
                        form.form-inlline
                                button(type="button" class="btn btn-default login-btn")修改
                                button(type="button" class="btn btn-default login-btn")停用
                                button(type="button" class="btn btn-default login-btn")日志
                tr.warning
                    td
                        input(type="checkbox")
                    td
                        |O2O安定门站
                    td
                        |前置分单
                    td
                        |创建人
                    td
                        |2015/12/28 14:00:53
                    td
                        form.form-inlline
                                button(type="button" class="btn btn-default login-btn")修改
                                button(type="button" class="btn btn-default login-btn")停用
                                button(type="button" class="btn btn-default login-btn")日志
                tr.success
                    td
                        input(type="checkbox")
                    td
                        |O2O安定门站
                    td
                        |前置分单
                    td
                        |创建人
                    td
                        |2015/12/28 14:00:53
                    td
                        form.form-inlline
                                button(type="button" class="btn btn-default login-btn")修改
                                button(type="button" class="btn btn-default login-btn")停用
                                button(type="button" class="btn btn-default login-btn")日志
                tr.warning
                    td
                        input(type="checkbox")
                    td
                        |O2O安定门站
                    td
                        |前置分单
                    td
                        |创建人
                    td
                        |2015/12/28 14:00:53
                    td
                        form.form-inlline
                                button(type="button" class="btn btn-default login-btn")修改
                                button(type="button" class="btn btn-default login-btn")停用
                                button(type="button" class="btn btn-default login-btn")日志
                tr.success
                    td
                        input(type="checkbox")
                    td
                        |O2O安定门站
                    td
                        |前置分单
                    td
                        |创建人
                    td
                        |2015/12/28 14:00:53
                    td
                        form.form-inlline
                                button(type="button" class="btn btn-default login-btn")修改
                                button(type="button" class="btn btn-default login-btn")停用
                                button(type="button" class="btn btn-default login-btn")日志
                tr.warning
                    td
                        input(type="checkbox")
                    td
                        |O2O安定门站
                    td
                        |前置分单
                    td
                        |创建人
                    td
                        |2015/12/28 14:00:53
                    td
                        form.form-inlline
                                button(type="button" class="btn btn-default login-btn")修改
                                button(type="button" class="btn btn-default login-btn")停用
                                button(type="button" class="btn btn-default login-btn")日志