extends templates/pms

block vars

block title
  |公告管理

block styles

block content
    body.login-bjs
        div.row
            div.col-sm-6
                h3.login-address 公告管理
            div.col-sm-6.login-Page
                a(href="") 帮助
        div.row
            div.col-sm-12
                hr
        form.form-inline
            lable 公告所属系统
            select.login-layoutss
                option 全部
        form.form-inline
            div.form-group
                lable 公&nbsp;&nbsp;告&nbsp;&nbsp;&nbsp;标&nbsp;&nbsp;题
                input(type="text" class='form-control').login-shuru
                button(type="button").btn.btn-default.login-btn 查询(Q)
                button(type="button").btn.btn-default.login-btn 新建(A)
        div.table-responsive.login-top
            table.table.table-bordered
                tr.active
                    td
                        input(type="checkbox")
                    td
                        |修改
                    td
                        |序号
                    td
                        |标题
                    td
                        |创建日期
                    td
                        |状态
                    td
                        |来源
                    td
                        |系统标识
                tr.warning
                    td
                        input(type="checkbox")
                    td
                        a(href="")修改
                    td
                        |50070351
                    td
                        |etsttest
                    td
                        |2015/12/30 16:21:40
                    td
                        |已停用
                    td
                        |如风达快递有限公司
                    td
                        |权限系统PMS
                tr.success
                    td
                        input(type="checkbox")
                    td
                        a(href="")修改
                    td
                        |50070351
                    td
                        |etsttest
                    td
                        |2015/12/30 16:21:40
                    td
                        |已停用
                    td
                        |如风达快递有限公司
                    td
                        |权限系统PMS
                tr.warning
                    td
                        input(type="checkbox")
                    td
                        a(href="")修改
                    td
                        |50070351
                    td
                        |etsttest
                    td
                        |2015/12/30 16:21:40
                    td
                        |已停用
                    td
                        |如风达快递有限公司
                    td
                        |权限系统PMS
                tr.success
                    td
                        input(type="checkbox")
                    td
                        a(href="")修改
                    td
                        |50070351
                    td
                        |etsttest
                    td
                        |2015/12/30 16:21:40
                    td
                        |已停用
                    td
                        |如风达快递有限公司
                    td
                        |权限系统PMS
                tr.warning
                    td
                        input(type="checkbox")
                    td
                        a(href="")修改
                    td
                        |50070351
                    td
                        |etsttest
                    td
                        |2015/12/30 16:21:40
                    td
                        |已停用
                    td
                        |如风达快递有限公司
                    td
                        |权限系统PMS
                tr.success
                    td
                        input(type="checkbox")
                    td
                        a(href="")修改
                    td
                        |50070351
                    td
                        |etsttest
                    td
                        |2015/12/30 16:21:40
                    td
                        |已停用
                    td
                        |如风达快递有限公司
                    td
                        |权限系统PMS
                tr.warning
                    td
                        input(type="checkbox")
                    td
                        a(href="")修改
                    td
                        |50070351
                    td
                        |etsttest
                    td
                        |2015/12/30 16:21:40
                    td
                        |已停用
                    td
                        |如风达快递有限公司
                    td
                        |权限系统PMS
                tr.success
                    td
                        input(type="checkbox")
                    td
                        a(href="")修改
                    td
                        |50070351
                    td
                        |etsttest
                    td
                        |2015/12/30 16:21:40
                    td
                        |已停用
                    td
                        |如风达快递有限公司
                    td
                        |权限系统PMS
                tr.warning
                    td
                        input(type="checkbox")
                    td
                        a(href="")修改
                    td
                        |50070351
                    td
                        |etsttest
                    td
                        |2015/12/30 16:21:40
                    td
                        |已停用
                    td
                        |如风达快递有限公司
                    td
                        |权限系统PMS
                tr.success
                    td
                        input(type="checkbox")
                    td
                        a(href="")修改
                    td
                        |50070351
                    td
                        |etsttest
                    td
                        |2015/12/30 16:21:40
                    td
                        |已停用
                    td
                        |如风达快递有限公司
                    td
                        |权限系统PMS
        div.col-sm-6
            span
                共找到1646条记录
        div.col-sm-6.login-Page
            div
                span.login-numbers
                    首页
                span.login-numbers
                    前页
                span.login-numberss
                    |1
                span.login-numbers
                    后页
                span.login-numbers
                    尾页
                span
                    转到第
                    select
                        option 1
                    |页 