extends templates/pms

block vars

block title
  |大区收支报表

block styles

block content
    body.login-bj
        br
        br
        form.form-inline
            div.form-group
                div.input-group
                    input(type="date" class="form-control")
                    div.input-group-addon 
                        |to
                    input(type="date" class="form-control")
                div.input-group
                    i.fa.fa-search.login-search
                    i.fa.fa-file-excel-o.login-search &nbsp;&nbsp;数据导出
                div.input-group
                    i.fa.fa-file-excel-o.login-search &nbsp;&nbsp;分析上传数据
        div.table-responsive
            table.table.table-striped.login-collet
                tr
                    td
                        |时间
                    td
                        |区域名称
                    td
                        |配送单量
                    td
                        |配送费收入金额
                    td
                        |运输收入金额
                    td
                        |其他收入金额
                    td
                        |收入合计
                    td
                        |加盟配送费
                    td
                        |运输费用
                    td
                        |仓储服务费用
                    td
                        |人力费用
                    td
                        |办公费用
                    td
                        |物料
                    td
                        |低耗
                    td
                        |资产折旧
                    td
                        |其他
                    td
                        |营业外（罚款）
                    td
                        |支出合计费用
                    td
                        |利润
                    td
                        |利润占比
                    td
                        |单均
                tr
                    td
                        |201512
                    td
                        |华东区
                    td
                        |0
                    td
                        |0
                    td
                        |0
                    td
                        |0
                    td
                        |0
                    td
                        |860,741
                    td
                        |1,510,587
                    td
                        |0
                    td
                        |5,145,052
                    td
                        |798,447
                    td
                        |28,987
                    td
                        |161,163
                    td
                        |39,970
                    td
                        |4,917
                    td
                        |41,857
                    td
                        |8,591,721
                    td
                        |-8,591,721
                    td
                    td
                tr
                    td
                        |201512
                    td
                        |华东区
                    td
                        |0
                    td
                        |0
                    td
                        |0
                    td
                        |0
                    td
                        |0
                    td
                        |860,741
                    td
                        |1,510,587
                    td
                        |0
                    td
                        |5,145,052
                    td
                        |798,447
                    td
                        |28,987
                    td
                        |161,163
                    td
                        |39,970
                    td
                        |4,917
                    td
                        |41,857
                    td
                        |8,591,721
                    td
                        |-8,591,721
                    td
                    td
                tr
                    td
                        |201512
                    td
                        |华东区
                    td
                        |0
                    td
                        |0
                    td
                        |0
                    td
                        |0
                    td
                        |0
                    td
                        |860,741
                    td
                        |1,510,587
                    td
                        |0
                    td
                        |5,145,052
                    td
                        |798,447
                    td
                        |28,987
                    td
                        |161,163
                    td
                        |39,970
                    td
                        |4,917
                    td
                        |41,857
                    td
                        |8,591,721
                    td
                        |-8,591,721
                    td
                    td
                tr
                    td
                        |201512
                    td
                        |华东区
                    td
                        |0
                    td
                        |0
                    td
                        |0
                    td
                        |0
                    td
                        |0
                    td
                        |860,741
                    td
                        |1,510,587
                    td
                        |0
                    td
                        |5,145,052
                    td
                        |798,447
                    td
                        |28,987
                    td
                        |161,163
                    td
                        |39,970
                    td
                        |4,917
                    td
                        |41,857
                    td
                        |8,591,721
                    td
                        |-8,591,721
                    td
                    td
                tr
                    td
                        |201512
                    td
                        |华东区
                    td
                        |0
                    td
                        |0
                    td
                        |0
                    td
                        |0
                    td
                        |0
                    td
                        |860,741
                    td
                        |1,510,587
                    td
                        |0
                    td
                        |5,145,052
                    td
                        |798,447
                    td
                        |28,987
                    td
                        |161,163
                    td
                        |39,970
                    td
                        |4,917
                    td
                        |41,857
                    td
                        |8,591,721
                    td
                        |-8,591,721
                    td
                    td
                tr
                    td
                        |201512
                    td
                        |华东区
                    td
                        |0
                    td
                        |0
                    td
                        |0
                    td
                        |0
                    td
                        |0
                    td
                        |860,741
                    td
                        |1,510,587
                    td
                        |0
                    td
                        |5,145,052
                    td
                        |798,447
                    td
                        |28,987
                    td
                        |161,163
                    td
                        |39,970
                    td
                        |4,917
                    td
                        |41,857
                    td
                        |8,591,721
                    td
                        |-8,591,721
                    td
                    td
                tr
                    td
                        |201512
                    td
                        |华东区
                    td
                        |0
                    td
                        |0
                    td
                        |0
                    td
                        |0
                    td
                        |0
                    td
                        |860,741
                    td
                        |1,510,587
                    td
                        |0
                    td
                        |5,145,052
                    td
                        |798,447
                    td
                        |28,987
                    td
                        |161,163
                    td
                        |39,970
                    td
                        |4,917
                    td
                        |41,857
                    td
                        |8,591,721
                    td
                        |-8,591,721
                    td
                    td
        div.table-responsive
            table.table.login-collets
                tr
                    td
                        |时间
                    td
                        |区域名称
                    td
                        |配送单量
                    td
                        |配送费收入金额
                    td
                        |运输收入金额
                    td
                        |其他收入金额
                    td
                        |收入合计
                    td
                        |加盟配送费
                    td
                        |运输费用
                    td
                        |仓储服务费用
                    td
                        |人力费用
                    td
                        |办公费用
                    td
                        |物料
                    td
                        |低耗
                    td
                        |资产折旧
                    td
                        |其他
                    td
                        |营业外（罚款）
                    td
                        |支出合计费用
                    td
                        |利润
                    td
                        |利润占比
                    td
                        |单均
