extends templates/pms

block vars

block title
  | 配送商分类管理

block styles

block content
    body.gray-bg.login-bj
        div.wrapper.wrapper-content.animated.fadeInRight
            div.row.border-bottom.white-bg.dashboard-header.login-business
                button(type="button" class="btn btn-primary")
                    |批量操作
                div.col-md-9.col-sm-12.login-number
                    from.form-inline.login-classification
                        div.form-group
                            input(type="text" class="form-control" id="exampleInputName2" placeholder="商家名称")
                            input(type="text" class="form-control" id="exampleInputName2" placeholder="商家编码")
                            select.form-control
                                option 所有分类
                                option 电商
                                option 金融
                                option 家购
                                option 快件
                                option 020
                                option 其他
                            i.fa.fa-search.login-search
                div.table-responsive.login-information
                    table.table.table-bordered.table-striped
                        tr
                            th
                                input(type="checkbox")
                            th
                                |ID 
                            th
                                |商家名称
                            th
                                |商家全称
                            th
                                |商家编码
                            th
                                |商家分类名称
                            th
                                |操作
                        tr
                            td
                                input(type="checkbox")
                            td
                                |1921
                            td
                                |每日优鲜(北京)
                            td
                                |北京每日优鲜电子商务有限公司
                            td
                                |mryxbj001
                            td
                                |O2O
                            td
                                ||操作分类
                        tr
                            td
                                input(type="checkbox")
                            td
                                |1921
                            td
                                |每日优鲜(北京)
                            td
                                |北京每日优鲜电子商务有限公司
                            td
                                |mryxbj001
                            td
                                |O2O
                            td
                                ||操作分类
                        tr
                            td
                                input(type="checkbox")
                            td
                                |1921
                            td
                                |每日优鲜(北京)
                            td
                                |北京每日优鲜电子商务有限公司
                            td
                                |mryxbj001
                            td
                                |O2O
                            td
                                ||操作分类
                        tr
                            td
                                input(type="checkbox")
                            td
                                |1921
                            td
                                |每日优鲜(北京)
                            td
                                |北京每日优鲜电子商务有限公司
                            td
                                |mryxbj001
                            td
                                |O2O
                            td
                                ||操作分类
                        tr
                            td
                                input(type="checkbox")
                            td
                                |1921
                            td
                                |每日优鲜(北京)
                            td
                                |北京每日优鲜电子商务有限公司
                            td
                                |mryxbj001
                            td
                                |O2O
                            td
                                ||操作分类
                        tr
                            td
                                input(type="checkbox")
                            td
                                |1921
                            td
                                |每日优鲜(北京)
                            td
                                |北京每日优鲜电子商务有限公司
                            td
                                |mryxbj001
                            td
                                |O2O
                            td
                                ||操作分类
                        tr
                            td
                                input(type="checkbox")
                            td
                                |1921
                            td
                                |每日优鲜(北京)
                            td
                                |北京每日优鲜电子商务有限公司
                            td
                                |mryxbj001
                            td
                                |O2O
                            td
                                ||操作分类
                        tr
                            td
                                input(type="checkbox")
                            td
                                |1921
                            td
                                |每日优鲜(北京)
                            td
                                |北京每日优鲜电子商务有限公司
                            td
                                |mryxbj001
                            td
                                |O2O
                            td
                                ||操作分类
                        tr
                            td
                                input(type="checkbox")
                            td
                                |1921
                            td
                                |每日优鲜(北京)
                            td
                                |北京每日优鲜电子商务有限公司
                            td
                                |mryxbj001
                            td
                                |O2O
                            td
                                ||操作分类
                div
                    |总计
                    span 1949
                    |个记录,共
                    span 195
                    |页,第
                    span 1
                    |页&nbsp;&nbsp;跳至
                    input(type="text")
                    a(class="btn btn-sm default") GO
                    span.login-number
                        button(class="btn btn-default")
                            |1
                        button(class="btn btn-default")
                            |2
                        button(class="btn btn-default")
                            |3
                        button(class="btn btn-default")
                            |4
                        button(class="btn btn-default")
                            |5
                        button(class="btn btn-default")
                            |6
                        button(class="btn btn-default")
                            |7
                        button(class="btn btn-default")
                            |8
                        button(class="btn btn-default")
                            |9
                        i.fa.fa-angle-right.login-back