extends templates/pms

block vars

block title
  |设置对应关系

block styles

block content
    body.login-bjs
        div.row
            div.col-sm-6
                h3.login-address RFD,VANCL，V+站点对应关系建立    
            div.col-sm-6.login-Page
                a(href="") 帮助
        div.row
            div.col-sm-12
                hr
        form.form-inline
            select.login-layouts
                option 站点名称
            input(type="text" class="form-control")
            button(type="button").btn.btn-default.login-btn 查询
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            button(type="button").btn.btn-default.login-btn 批量设置
        div.table-responsive
            table.table.table-bordered.login-set
                tr.active
                    td
                        input(type="checkbox")
                    td
                        |配送商编号
                    td
                        |配送商名称
                    td
                        |配送商全称
                    td
                        |站点名称
                    td
                        |站点代码
                    td
                        |站点全称
                    td
                        |站点标识
                    td
                        |RFD站点编号
                    td
                        |Vancl站点编号
                    td
                        |Vjia站点编号
                    td
                        |设置
                tr
                    td
                        input(type="checkbox")
                    td
                        |505611
                    td
                        |河北沧州盐山县李宗涛结算公司
                    td
                        |河北沧州盐山县李宗涛
                    td
                        |河北沧州盐山县李宗涛结算公司
                    td
                        |505611
                    td
                        |河北沧州盐山县李宗涛
                    td
                        |3
                    td
                        |3125
                    td
                        input(type="text" class="login-srk")
                    td
                        input(type="text" class="login-srk")
                    td
                        a(href="") 设置
                tr
                    td
                        input(type="checkbox")
                    td
                        |505611
                    td
                        |河北沧州盐山县李宗涛结算公司
                    td
                        |河北沧州盐山县李宗涛
                    td
                        |河北沧州盐山县李宗涛结算公司
                    td
                        |505611
                    td
                        |河北沧州盐山县李宗涛
                    td
                        |3
                    td
                        |3125
                    td
                        input(type="text" class="login-srk")
                    td
                        input(type="text" class="login-srk")
                    td
                        a(href="") 设置
                tr
                    td
                        input(type="checkbox")
                    td
                        |505611
                    td
                        |河北沧州盐山县李宗涛结算公司
                    td
                        |河北沧州盐山县李宗涛
                    td
                        |河北沧州盐山县李宗涛结算公司
                    td
                        |505611
                    td
                        |河北沧州盐山县李宗涛
                    td
                        |3
                    td
                        |3125
                    td
                        input(type="text" class="login-srk")
                    td
                        input(type="text" class="login-srk")
                    td
                        a(href="") 设置
                tr
                    td
                        input(type="checkbox")
                    td
                        |505611
                    td
                        |河北沧州盐山县李宗涛结算公司
                    td
                        |河北沧州盐山县李宗涛
                    td
                        |河北沧州盐山县李宗涛结算公司
                    td
                        |505611
                    td
                        |河北沧州盐山县李宗涛
                    td
                        |3
                    td
                        |3125
                    td
                        input(type="text" class="login-srk")
                    td
                        input(type="text" class="login-srk")
                    td
                        a(href="") 设置
                tr
                    td
                        input(type="checkbox")
                    td
                        |505611
                    td
                        |河北沧州盐山县李宗涛结算公司
                    td
                        |河北沧州盐山县李宗涛
                    td
                        |河北沧州盐山县李宗涛结算公司
                    td
                        |505611
                    td
                        |河北沧州盐山县李宗涛
                    td
                        |3
                    td
                        |3125
                    td
                        input(type="text" class="login-srk")
                    td
                        input(type="text" class="login-srk")
                    td
                        a(href="") 设置
                tr
                    td
                        input(type="checkbox")
                    td
                        |505611
                    td
                        |河北沧州盐山县李宗涛结算公司
                    td
                        |河北沧州盐山县李宗涛
                    td
                        |河北沧州盐山县李宗涛结算公司
                    td
                        |505611
                    td
                        |河北沧州盐山县李宗涛
                    td
                        |3
                    td
                        |3125
                    td
                        input(type="text" class="login-srk")
                    td
                        input(type="text" class="login-srk")
                    td
                        a(href="") 设置
        div.col-sm-6
            span
                共找到1646条记录
        div.col-sm-6.login-Page
            span.login-numbers
                首页
            span.login-numbers
                前页
            span.login-numberss
                |1
            span.login-numbers
                后页
            span.login-numbers
                尾页
            span
                转到第
                select
                    option 1
                |页 
