extends templates/pms

block vars

block title
  | 财务科目类别

block styles

block content
    body.gray-bg.login-bj
        div.wrapper.wrapper-content.animated.fadeInRight
            div.row.border-bottom.white-bg.dashboard-header.login-business
                button(type="button" class="btn btn-primary")
                    |新增
                    i.fa.fa-plus
                div.table-responsive.login-information
                    table.table.table-bordered
                        tr
                            td
                                |ID
                            td
                                |名称
                            td
                                |显示顺序
                            td
                                |编辑
                            td
                                |删除
                        tr
                            td
                                |ID
                            td
                                |名称
                            td
                                |显示顺序
                            td
                                |编辑
                            td
                                |删除
                        tr
                            td
                                |ID
                            td
                                |名称
                            td
                                |显示顺序
                            td
                                |编辑
                            td
                                |删除
                        tr
                            td
                                |ID
                            td
                                |名称
                            td
                                |显示顺序
                            td
                                |编辑
                            td
                                |删除
                        tr
                            td
                                |ID
                            td
                                |名称
                            td
                                |显示顺序
                            td
                                |编辑
                            td
                                |删除
                        tr
                            td
                                |ID
                            td
                                |名称
                            td
                                |显示顺序
                            td
                                |编辑
                            td
                                |删除
                        tr
                            td
                                |ID
                            td
                                |名称
                            td
                                |显示顺序
                            td
                                |编辑
                            td
                                |删除
                        tr
                            td
                                |ID
                            td
                                |名称
                            td
                                |显示顺序
                            td
                                |编辑
                            td
                                |删除
                div
                    |总计
                    span 1949
                    |个记录,共
                    span 195
                    |页,第
                    span 1
                    |页&nbsp;&nbsp;跳至
                    input(type="text")
                    a(class="btn btn-sm default") GO
                    span.login-number
                        button(class="btn btn-default")
                            |1
                        button(class="btn btn-default")
                            |2
                        i.fa.fa-angle-right.login-back