extends templates/pms

block vars

block title
  |货物品类

block styles

block content
    body.login-bjs
        div.row
            div.col-sm-6
                h3.login-address 货物品类
            div.col-sm-6.login-Page
                a(href="") 帮助
        div.row
            div.col-sm-12
                hr
        form.form-inline
            lable 品类名称
            input(type="text" class="form-control").login-shuru
            lable 货品属性
            select.login-layoutss
                option 全部
            button(type="button").btn.btn-default.login-btn 查询
            button(type="button").btn.btn-default.login-btn 新增
        div.table-responsive
            table.table.table-bordered
                tr.active
                    td
                        |序号
                    td
                        |注册编码
                    td
                        |品类名称
                    td
                        |货品属性
                    td
                        |更新时间
                    td
                        |备注
                    td
                        |编辑
                    td
                        |删除
                tr.warning
                    td
                        |10400
                    td
                        |8004
                    td
                        |O2O普货
                    td
                        |普货
                    td
                        |2016/1/14 17:34:49
                    td
                        |O2O客户专用
                    td
                        a(href="") 编辑
                    td
                        a(href="") 删除
                tr.success
                    td
                        |10400
                    td
                        |8004
                    td
                        |O2O普货
                    td
                        |普货
                    td
                        |2016/1/14 17:34:49
                    td
                        |O2O客户专用
                    td
                        a(href="") 编辑
                    td
                        a(href="") 删除
                tr.warning
                    td
                        |10400
                    td
                        |8004
                    td
                        |O2O普货
                    td
                        |普货
                    td
                        |2016/1/14 17:34:49
                    td
                        |O2O客户专用
                    td
                        a(href="") 编辑
                    td
                        a(href="") 删除
                tr.success
                    td
                        |10400
                    td
                        |8004
                    td
                        |O2O普货
                    td
                        |普货
                    td
                        |2016/1/14 17:34:49
                    td
                        |O2O客户专用
                    td
                        a(href="") 编辑
                    td
                        a(href="") 删除
                tr.warning
                    td
                        |10400
                    td
                        |8004
                    td
                        |O2O普货
                    td
                        |普货
                    td
                        |2016/1/14 17:34:49
                    td
                        |O2O客户专用
                    td
                        a(href="") 编辑
                    td
                        a(href="") 删除
                tr.success
                    td
                        |10400
                    td
                        |8004
                    td
                        |O2O普货
                    td
                        |普货
                    td
                        |2016/1/14 17:34:49
                    td
                        |O2O客户专用
                    td
                        a(href="") 编辑
                    td
                        a(href="") 删除
        div.col-sm-6
            span
                共找到1646条记录
        div.col-sm-6.login-Page
            span.login-numbers
                首页
            span.login-numbers
                前页
            span.login-numberss
                |1
            span.login-numbers
                后页
            span.login-numbers
                尾页
            span
                转到第
                select
                    option 1
                |页 

