extends templates/pms

block vars

block title
  | login

block styles

block content
    body.fixed-sidebar.full-height-layout.gray-bg
        div#wrapper
            nav(class="navbar-default navbar-static-side login-scroll" role="navigation")
                div.sidebar-collapse
                    ul.nav#side-menu
                        li.nav-header
                            div.dropdown.profile-element
                                form.form-inline
                                    div.form-group
                                        lable(for="exampleInputName2",class="login-fast")
                                            b 快速查询：
                                        input( type="text" class="form-control login-find" style="width:100%")
                        li
                            a(href="#") 
                                i.fa.fa-folder-o
                                span.nav-lable 
                                |新报表系统
                                span.fa.arrow
                            ul.nav.nav-second-level
                                li
                                    a(href="#")
                                        i.fa.fa-folder-o 
                                        |基础信息
                                        span.fa.arrow
                                    ul.nav.nav-third-level
                                        li
                                            a(class="J_menuItem" href="Merchant classification.html")
                                                 i.fa.fa-file-text-o 
                                                 |商家分类管理
                                        li
                                            a(class="J_menuItem" href="Merchant type.html")
                                                i.fa.fa-file-text-o
                                                |商家类型维护
                                        li
                                            a(href="business classification.html",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |配送商分类管理
                                        li
                                            a(href="business type.html",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |配送商类型维护
                                        li
                                            a(href="organizational structure.html",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |组织架构维护
                                        li
                                            a(href="Financial account.html",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |财务科目
                                        li
                                            a(href="Financial category.html",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |财务科目类别
                                        li
                                            a(href="Upload history.html",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |文件上传历史
                                li
                                    a(href="#")
                                        i.fa.fa-folder-o 
                                        |订单分布分析
                                        span.fa.arrow
                                    ul.nav.nav-third-level
                                        li
                                            a(href="Order source.html",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |订单来源分析
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |订单去向分析
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |各大区订单占比分析
                                li
                                    a(href="#")
                                        i.fa.fa-folder-o 
                                        |成本利润分析
                                        span.fa.arrow
                                    ul.nav.nav-third-level
                                        li
                                            a(href="Balance of payments.html",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |大区收支报表
                                        li
                                            a(href="Merchant income.html",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |商家收入报表
                                li
                                    a(href="#")
                                        i.fa.fa-folder-o 
                                        |营运监控分析
                                        span.fa.arrow
                                    ul.nav.nav-third-level
                                        li
                                            a(href="Single delivery.html",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |接单投递率分析
                                        li
                                            a(href="Inbound delivery.html",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |入站投递率分析
                        li
                            a(href="#") 
                                i.fa.fa-folder-o
                                span.nav-lable 
                                    |地址库系统
                                span.fa.arrow
                            ul.nav.nav-second-level
                                li
                                    a(href="#")
                                        i.fa.fa-folder-o 
                                        |地址库基础信息
                                        span.fa.arrow
                                    ul.nav.nav-third-level
                                        li
                                            a(href="Address import.html",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |配送商地址导入
                                        li
                                            a(href="Address maintenance.html",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |配送商地址维护
                                        li
                                            a(href="Distributor key.html",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |关键字经纬度维护
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |配送商地址导入V2
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |站点地址维护
                                        li
                                            a(href="Address assignment.html",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |地址分配站点解析
                                        li
                                            a(href="Relationship maintenance.html",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |区域站点关系维护
                                li
                                    a(href="#")
                                        i.fa.fa-folder-o 
                                        |地址库管理
                                        span.fa.arrow
                                    ul.nav.nav-third-level
                                        li
                                            a(href="Address management.html",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |地址库维护
                                li
                                    a(href="#")
                                        i.fa.fa-folder-o 
                                        |查询分析
                                        span.fa.arrow
                                    ul.nav.nav-third-level
                                        li
                                            a(href="Address analysis.html",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |分配站点解析
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |地址冲突检测
                                        li
                                            a(href="Address collection.html",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |地址收集
                                        li
                                            a(href="Log query.html",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |操作日志查询
                        li
                            a(href="#") 
                                i.fa.fa-folder-o
                                span.nav-lable 
                                |权限系统
                                span.fa.arrow
                            ul.nav.nav-second-level
                                li
                                    a(href="#")
                                        i.fa.fa-folder-o 
                                        |权限基础信息
                                        span.fa.arrow
                                    ul.nav.nav-third-level
                                        li
                                            a(href="Number maintenance.html",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |配送商编号维护
                                        li
                                            a(href="Process customization.html",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |配送商流程定义
                                        li
                                            a(href="Cooperative distribution.html",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |合作配送商
                                        li
                                            a(href="Site number.html",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |站点编号维护
                                        li
                                            a(href="Corresponding relation.html",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |设置对应关系
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |岗位设置
                                        li
                                            a(href="Personnel settings.html",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |人员设置
                                        li
                                            a(href="Goods category.html",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |货物品类
                                        li
                                            a(href="business relationship.html",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |配送商与配送商对应关系维护
                                        li
                                            a(href="Transportation relationship.html",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |运输关系设置
                                        li
                                            a(href="Announcement management.html",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |公告管理
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |区县设置
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |站点提成维护
                                        li
                                            a(href="Distribution relationship.html",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |配送商与商家对应关系维护
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |上传帮助文件
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |字典表管理
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |Mac地址维护
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |商家省市区匹配
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |菜单管理
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |动态码生成
                                li
                                    a(href="#")
                                        i.fa.fa-folder-o 
                                        |数据权限管理
                                        span.fa.arrow
                                    ul.nav.nav-third-level
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |用户权限设置
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |角色管理
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |规则管理
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |规则类型管理
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |子系统管理
                        li
                            a(href="#") 
                                i.fa.fa-folder-o
                                span.nav-lable 
                                |财务系统
                                span.fa.arrow
                            ul.nav.nav-second-level
                                li
                                    a(href="#")
                                        i.fa.fa-folder-o 
                                        |财务基础信息设置
                                        span.fa.arrow
                                    ul.nav.nav-third-level
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |配送商价格设置
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |配送商价格审核
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |配送商价格查询
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |配送商区域设置
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |配送商区域审批
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |配送商区域查询
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |商家、配送商分类设置
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |商家区域类型设置
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |商家区域类型审批
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |商家区域类型查询
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |账期管理
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |阶梯报价设置
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |商家配送费维护
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |商家配送费审核
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |商家配送费查询
                                li
                                    a(href="#")
                                        i.fa.fa-folder-o 
                                        |商家配送费管理
                                        span.fa.arrow
                                    ul.nav.nav-third-level
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |接货明细表
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |接货汇总表
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |配送费收入结算创建
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |配送费收入结算审核
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |配送费收入查询
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |收入日报表
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |商家配送费修改
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |商家配送费预收入
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |商家配送费修改v2
                                li
                                    a(href="#")
                                        i.fa.fa-folder-o 
                                        |配送公司配送费
                                        span.fa.arrow
                                    ul.nav.nav-third-level
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |发货明细表
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |发货汇总表
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |配送费发货结算创建
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                | 配送费发货结算审核
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |配送费发货结算查询
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |配送费发货日报
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |财务红冲工具
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |配送商配送费修改
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |加盟站点配送费查询
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |加盟站点配送日报
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |加盟站点配送费查询(财务数据)
                                li
                                    a(href="#")
                                        i.fa.fa-folder-o 
                                        |代收货款结算
                                        span.fa.arrow
                                    ul.nav.nav-third-level
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |滞留订单核对
                                li
                                    a(href="#")
                                        i.fa.fa-folder-o 
                                        |财务查询统计
                                        span.fa.arrow
                                    ul.nav.nav-third-level
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |COD交接明细表
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |COD交接汇总表
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |财务收款查询
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |快递收款查询
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |财务收款查询(如风达)
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |商家代收货款返款查询
                        li
                            a(href="#") 
                                i.fa.fa-folder-o
                                span.nav-lable 
                                |数据处理
                                span.fa.arrow
                            ul.nav.nav-second-level
                                li
                                    a(href="#")
                                        i.fa.fa-folder-o 
                                        |调度管理
                                        span.fa.arrow
                                    ul.nav.nav-third-level
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                | 配送员调度
                                li
                                    a(href="#")
                                        i.fa.fa-folder-o 
                                        |数据处理基础设置
                                        span.fa.arrow
                                    ul.nav.nav-third-level
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |商家信息导入省市区设置
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |信息导入模板设置
                                li
                                    a(href="#")
                                        i.fa.fa-folder-o 
                                        |数据清洗
                                        span.fa.arrow
                                    ul.nav.nav-third-level
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |订单地址解析
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |招行地址解析
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |预处理订单导出
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |招行订单导出
                                li
                                    a(href="#")
                                        i.fa.fa-folder-o 
                                        |数据录入
                                        span.fa.arrow
                                    ul.nav.nav-third-level
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |信息导入
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |快递单录入
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |第三方对应单号导入
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |同步订单到EDI
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |更改单录入
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |添加官网日志
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |快递单录入V2
                                li
                                    a(href="#")
                                        i.fa.fa-folder-o 
                                        |查询统计
                                        span.fa.arrow
                                    ul.nav.nav-third-level
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |我的监控
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |时效监控
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |对接诊断
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |妥投率统计
                                li
                                    a(href="#")
                                        i.fa.fa-folder-o 
                                        |异常管理
                                        span.fa.arrow
                                    ul.nav.nav-third-level
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |商家赔付管理
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |异常责任管理
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |异常赔付确认
                                li
                                    a(href="#")
                                        i.fa.fa-folder-o 
                                        |综合查询
                                        span.fa.arrow
                                    ul.nav.nav-third-level
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |返货未处理查询
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |货物明细导出
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |发货明细查询
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |更改单查询
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |历史数据查询
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |货物跟踪查询
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |合包查询
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |高级查询V2
                        li
                            a(href="#") 
                                i.fa.fa-folder-o
                                span.nav-lable 
                                |新财务系统
                                span.fa.arrow
                            ul.nav.nav-second-level
                                li
                                    a(href="#")
                                        i.fa.fa-folder-o 
                                        |基础信息管理
                                        span.fa.arrow
                                    ul.nav.nav-third-level
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |帐期管理
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |结算方式管理
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |账期模板管理
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |代理商管理
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |代理商分类
                                li
                                    a(href="#")
                                        i.fa.fa-folder-o 
                                        |代收货款功能
                                        span.fa.arrow
                                    ul.nav.nav-third-level
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |站点汇款录入
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |货款手动红冲
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |财务货款核对
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |货款账单查询
                        li
                            a(href="#") 
                                i.fa.fa-folder-o
                                span.nav-lable 
                                |拣运管理
                                span.fa.arrow
                            ul.nav.nav-second-level
                                li
                                    a(href="#")
                                        i.fa.fa-folder-o 
                                        |拣运基础信息
                                        span.fa.arrow
                                    ul.nav.nav-third-level
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |条形码生成
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |车辆基础信息维护
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |分拣范围
                                li
                                    a(href="#")
                                        i.fa.fa-folder-o 
                                        |异常处理平台
                                        span.fa.arrow
                                    ul.nav.nav-third-level
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |异常单出入库
                                li
                                    a(href="#")
                                        i.fa.fa-folder-o 
                                        |综合查询
                                        span.fa.arrow
                                    ul.nav.nav-third-level
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |装卸车批次查询
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |配送编号查询
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |称重复核查询
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |运单查询
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |分拣实况查询
                                li
                                    a(href="#")
                                        i.fa.fa-folder-o 
                                        |分拣管理
                                        span.fa.arrow
                                    ul.nav.nav-third-level
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |特殊面单校验
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |批次装车查询
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |同城单量扫描
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |同城单量统计
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |逐单入库
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |批量入库
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |逐单出库
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |批量出库
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |出库交接表打印
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |分拣退货称重装箱
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |商家入库确认
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |批次卸车
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |分拣订单打包
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |发货交接单
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |外阜编号维护
                                li
                                    a(href="#")
                                        i.fa.fa-folder-o 
                                        |返货管理
                                        span.fa.arrow
                                    ul.nav.nav-third-level
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |批量返货入库
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |批量返货出库
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |返货出库交接表
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |逐单返货入库
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |分拣返货打包
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |逐单返货出库
                        li
                            a(href="#") 
                                i.fa.fa-folder-o
                                span.nav-lable 
                                |报表系统
                                span.fa.arrow
                            ul.nav.nav-second-level
                                li
                                    a(href="#")
                                        i.fa.fa-folder-o 
                                        |运单信息分析
                                        span.fa.arrow
                                    ul.nav.nav-third-level
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |运单状态统计
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |运单来源统计
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |运单分布分析
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |接单趋势统计
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |退换货率分析
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |运单转站分析
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |配送日单量统计
                                li
                                    a(href="#")
                                        i.fa.fa-folder-o 
                                        |分单信息分析
                                        span.fa.arrow
                                    ul.nav.nav-third-level
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |分单比例分析
                        li
                            a(href="#") 
                                i.fa.fa-folder-o
                                span.nav-lable 
                                |客户关系管理
                                span.fa.arrow
                            ul.nav.nav-second-level
                                li
                                    a(href="#")
                                        i.fa.fa-folder-o 
                                        |快递业务管理
                                        span.fa.arrow
                                    ul.nav.nav-third-level
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |受理单管理
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |受理单分配配送站
                                li
                                    a(href="#")
                                        i.fa.fa-folder-o 
                                        |异常运单管理
                                        span.fa.arrow
                                    ul.nav.nav-third-level
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |异常运单查询
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |异常运单录入
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |异常运单处理
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |异常运单批量置回
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |退货审核
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |异常到货处理
                            //- ul.nav.nav-second-level
                            //-     li
                            //-         i.fa.fa-folder-o
                            //-         span.nav-lable
                        li
                            a(href="#") 
                                i.fa.fa-folder-o
                                span.nav-lable 
                                |老配送系统
                                span.fa.arrow
                            ul.nav.nav-second-level
                                li
                                    a(href="#")
                                        i.fa.fa-folder-o 
                                        |数据处理
                                        span.fa.arrow
                                    ul.nav.nav-third-level
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |订单解析(Excel)
                        li
                            a(href="#") 
                                i.fa.fa-folder-o
                                span.nav-lable 
                                |运单分配
                                span.fa.arrow
                            ul.nav.nav-second-level
                                li
                                    a(href="#")
                                        i.fa.fa-folder-o 
                                        |分单基础设置
                                        span.fa.arrow
                                    ul.nav.nav-third-level
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |特殊分单设置(前置)
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |商家分单设置
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |商家分单仓库同步
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |配送商分单设置
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |配送站分单设置
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |特殊分单设置(后置)
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |商家分单设置查询
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |配送商分单设置查询
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |配送站分单设置查询
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |特殊分单设置(后置)查询
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |分单逻辑设置
                                li
                                    a(href="#")
                                        i.fa.fa-folder-o 
                                        |运单分配
                                        span.fa.arrow
                                    ul.nav.nav-third-level
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |订单省市区匹配
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |分配配送站(三方)
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |人工分配(三方)
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |人工分单
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |分配分析
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |分单确认查询
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |自定义分配分析
                                li
                                    a(href="#")
                                        i.fa.fa-folder-o 
                                        |GIS
                                        span.fa.arrow
                                    ul.nav.nav-third-level
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |范围维护
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |目录编辑模式
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |配送站范围图
                                li
                                    a(href="#")
                                        i.fa.fa-folder-o 
                                        |地址库管理
                                        span.fa.arrow
                                    ul.nav.nav-third-level
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |地址库维护
                        li 
                            a(href="#") 
                                i.fa.fa-folder-o
                                span.nav-lable 
                                |配送管理
                                span.fa.arrow
                            ul.nav.nav-second-level
                                li
                                    a(href="#")
                                        i.fa.fa-folder-o 
                                        |揽件管理
                                        span.fa.arrow
                                    ul.nav.nav-third-level
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |受理单分配配送员
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |揽件入站
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |揽件出站
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |出站交接表
                                li
                                    a(href="#")
                                        i.fa.fa-folder-o 
                                        |派件管理
                                        span.fa.arrow
                                    ul.nav.nav-third-level
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |派件入站
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |派件出站
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                | 派件归班
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |退货单打印
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |派件出站交接
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |站区盘点
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |车辆到离站登记
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |车辆到离站管理
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |车辆到离站维护
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |派件出站V2
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                | 转站
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |异常转站
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |退货单打印(长沙)
                                li
                                    a(href="#")
                                        i.fa.fa-folder-o 
                                        |逆向管理
                                        span.fa.arrow
                                    ul.nav.nav-third-level
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |返货入站
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |返货合包
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |返货出站
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |返货交接表
                                li
                                    a(href="#")
                                        i.fa.fa-folder-o 
                                        |查询统计
                                        span.fa.arrow
                                    ul.nav.nav-third-level
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |配送日报
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |配送员提成统计
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |24小时妥投率日报
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |提成修改
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |妥投率月报
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |配送查询
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |配送商交接明细
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |营业收入报表
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |提成数据处理
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |提成异常审核
                                li
                                    a(href="#")
                                        i.fa.fa-folder-o 
                                        |KPI考核
                                        span.fa.arrow
                                    ul.nav.nav-third-level
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |考核录入
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |考核查询
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |考核统计
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |考核编辑
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |考核项管理
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |考核规则管理
                                li
                                    a(href="#")
                                        i.fa.fa-folder-o 
                                        |批量操作
                                        span.fa.arrow
                                    ul.nav.nav-third-level
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |批量入站xls版
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |批量分配xls版
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |批量归班xls版
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |批量入站文本框版
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |批量出站文本框版
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |批量归站文本框版
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |批量代理归班
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |强制卸车
                        li 
                            a(href="#") 
                                i.fa.fa-folder-o
                                span.nav-lable 
                                |短信管理
                                span.fa.arrow
                            ul.nav.nav-second-level
                                li
                                    a(href="#")
                                        i.fa.fa-folder-o 
                                        |基础维护
                                        span.fa.arrow
                                    ul.navn.nav-third-level
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |模板管理(逻辑短信)
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |模板组管理(逻辑短信)
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |模板条件管理(业务短信)
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |短信接口提供商管理
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |短信拦截条件管理
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |短信拦截白名单管理
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |DB连接管理(逻辑短信)
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |通配符管理(逻辑短信)
                                li 
                                    a(href="#")
                                        i.fa.fa-folder-o 
                                        |短信发送
                                        span.fa.arrow
                                    ul.nav.nav-third-level
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |模拟发送(业务短信)
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |[职能短信]发送
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |[直发短信]发送
                                li
                                    a(href="#")
                                        i.fa.fa-folder-o 
                                        |查询统计
                                        span.fa.arrow
                                    ul.nav.nav-third-level
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |处理记录查询(逻辑短信)
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |发送队列查询(逻辑短信)
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |短信发送成功记录查询
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |短信发送失败记录查询
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |短信发送拦截记录查询
                                li
                                    a(href="#")
                                        i.fa.fa-folder-o 
                                        |系统监控
                                        span.fa.arrow
                                    ul.nav.nav-third-level
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |短信平台系统数值监控
                        li
                            a(href="#") 
                                i.fa.fa-folder-o
                                span.nav-lable 
                                |新客户关系管理
                                span.fa.arrow
                            ul.nav.nav-second-level
                                li
                                    a(href="#")
                                        i.fa.fa-folder-o 
                                        |大工单
                                        span.fa.arrow
                                    ul.nav.nav-third-level
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |新建工单
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |批量新建工单
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |工作日分发规则维护
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |节假日分发规则维护
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |工单查询
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |工单类型维护
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |我的发起
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |待处理
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |已处理
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |部门的发起
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |模板类型维护
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |官网投诉
                                li
                                    a(href="#")
                                        i.fa.fa-folder-o 
                                        |官网后台
                                        span.fa.arrow
                                    ul.nav.nav-third-level
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |会员管理
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |运费时效维护
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |收送范围维护
                                li
                                    a(href="#")
                                        i.fa.fa-folder-o 
                                        |配送员评价
                                        span.fa.arrow
                                    ul.nav.nav-third-level
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |评价统计
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |评价回访
                        li
                            a(href="#") 
                                i.fa.fa-folder-o
                                span.nav-lable 
                                |站点区域提成
                                span.fa.arrow
                            ul.nav.nav-second-level
                                li
                                    a(href="#")
                                        i.fa.fa-folder-o 
                                        |站点区域维护
                                        span.fa.arrow
                                    ul.nav.nav-third-level
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |配送区域维护
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |提成区域维护
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |提成区域定价
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |区域订单报表
                        li
                            a(href="#") 
                                i.fa.fa-folder-o
                                span.nav-lable 
                                |新权限系统
                                span.fa.arrow
                            ul.nav.nav-second-level
                                li
                                    a(href="#")
                                        i.fa.fa-folder-o 
                                        |配送商管理
                                        span.fa.arrow
                                    ul.nav.nav-third-level
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |配送商注册申请
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |配送商审核页面
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |配送商管理页面
                                li
                                    a(href="#")
                                        i.fa.fa-folder-o 
                                        |基础信息维护
                                        span.fa.arrow
                                    ul.nav.nav-third-level
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |部门信息管理
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |角色信息管理
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |用户信息管理
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |配送员信息管理
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |商家设置页面
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |操作日志查询
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |菜单使用统计
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |大区维护
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |配送站维护
                                li
                                    a(href="#")
                                        i.fa.fa-folder-o 
                                        |结算方式导入管理
                                        span.fa.arrow
                                    ul.nav.nav-third-level
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |结算方式信息导入
                                        li
                                            a(href="#",class="J_menuItem")
                                                i.fa.fa-file-text-o
                                                |提成公式维护设置
                    div.slimScrollBar
                    div.slimScrollRail
            //左侧部分结束
            //右侧部分开始
            div#page-wrapper.gray-bg.dashbard-1
                div.row.border-bottom
                    nav.navbar.navbar-static-top(role="navigation")
                        div.navbar-header
                            a(href="#" class="navbar-minimalize minimalize-styl-2 btn btn-primary")
                                i.fa.fa-bars
                            h2 小酒窝配送平台
                        ul.nav.navbar-top-links.navbar-right.login-information
                            li.dropdown
                                你好, XXX(小酒窝)
                            li.dropdown |主题
                            li.dropdown |技术支持
                            li.dropdown |修改密码
                div.row.content-tabs
                    button.roll-nav.roll-left.J_tabLeft
                        i.fa.fa-backward
                    nav.page-tabs.J_menuTabs
                        div.page-tabs-content
                            a(href="javascript:;" class="active J_menuTab" data-id=".html")
                                |首页
                    button.roll-nav.roll-right.J_tabRight
                        i.fa.fa-forward
                    div.btn-group.roll-nav.roll-right
                        button(lass="dropdown J_tabClose" data-toggle="dropdown")
                            |关闭操作
                            span.caret
                        ul(role="menu" class="dropdown-menu dropdown-menu-right")
                            li.J_tabShowActive
                                a
                                    |定位当前选项卡
                            li.J_tabCloseAll
                                a
                                    |关闭全部选项卡
                            li.J_tabCloseOther
                                a
                                    |关闭其他选项卡
                    a(href="login.html" class="roll-nav roll-right J_tabExit")
                        i.fa.fa-sign-out
                        |退出
                div.row.J_mainContent#content-main
                    iframe.J_iframe(name="iframe0" frameborder="0" seamless)
                div.footer
                    div.pull-left 2015&copy;
                        a(href="http://www.rufengda.com" target="_blank")如风达BI系统.
        script(src="scripts/jquery.min.js")
        script(src="scripts/bootstrap.min.js")
        script(src="plugins/metisMenu/jquery.metisMenu.js")
        script(src="plugins/slimscroll/jquery.slimscroll.min.js")
        script(src="plugins/layer/layer.min.js")
        script(src="scripts/hplus.min.js")
        script(src="scripts/contabs.min.js")
        script(src="plugins/pace/pace.min.js")
