extends templates/pms

block vars

block title
  | 商家类型维护

block styles

block content
    body.gray-bg.login-bj
        div.wrapper.wrapper-content.animated.fadeInRight
            div.row.border-bottom.white-bg.dashboard-header.login-business
                button(type="button" class="btn btn-primary")
                    |新增
                    i.fa.fa-plus
                div.table-responsive.login-information
                    table.table.table-bordered
                        tr
                            td
                                |ID
                            td
                                |名称
                            td
                                |编辑
                            td
                                |删除
                        tr
                            td
                                |1
                            td
                                |电商
                            td
                                |编辑
                            td
                                |删除
                        tr
                            td
                                |1
                            td
                                |电商
                            td
                                |编辑
                            td
                                |删除
                        tr
                            td
                                |1
                            td
                                |电商
                            td
                                |编辑
                            td
                                |删除
                        tr
                            td
                                |1
                            td
                                |电商
                            td
                                |编辑
                            td
                                |删除
                        tr
                            td
                                |1
                            td
                                |电商
                            td
                                |编辑
                            td
                                |删除