extends templates/pms

block vars

block title
  | 商家收入报表

block styles

block content
    body.login-bj
        form.form-inline
            select.form-control.login-business
                option 未选中任何商家
            div.form-group
                div.input-group
                    input(type="date" class="form-control" placeholder="开始时间")
                    div.input-group-addon 
                        |to
                    input(type="date" class="form-control" placeholder="结束时间")
            select.form-control
                option 全部
        form.form-inline.login-style
            i.fa.fa-search.login-search 
            i.fa.fa-file-excel-o.login-search &nbsp;&nbsp;数据导出
            i.fa.fa-file-excel-o.login-search &nbsp;&nbsp;分析上传数据
        div.table-responsive.login-style
            table.table.table-striped.login-beijing
                tr.login-collets
                    td
                        |序号
                    td
                        |商家名称
                    td
                        |统计时间
                    td
                        |单量
                    td
                        |基础运费
                    td
                        |保价费
                    td
                        |POS服务费 
                    td
                        |POS手续费
                    td
                        |提货费
                    td
                        |打印费
                    td
                        |包装费
                    td
                        |面单费
                    td
                        |丢失 
                    td
                        |考核
                    td
                        |其他
                    td
                        |其他
                    td
                        |应收金额
                    td
                        |数据版本
                tr
                    td
                        |1
                    td
                        |上海万象文化发展有限公司
                    td
                        |201507
                    td
                        |29917
                    td
                        |197819.7
                    td
                        |0.0
                    td
                        |0.0 
                    td
                        |0.0
                    td
                        |0.0
                    td
                        |0.0
                    td
                        |0.0
                    td
                        |0.0
                    td
                        |0.0 
                    td
                        |0.0
                    td
                        |0.0
                    td
                        |0.0
                    td
                        |0.0
                    td
                        |预提
                tr
                    td
                        |1
                    td
                        |上海万象文化发展有限公司
                    td
                        |201507
                    td
                        |29917
                    td
                        |197819.7
                    td
                        |0.0
                    td
                        |0.0 
                    td
                        |0.0
                    td
                        |0.0
                    td
                        |0.0
                    td
                        |0.0
                    td
                        |0.0
                    td
                        |0.0 
                    td
                        |0.0
                    td
                        |0.0
                    td
                        |0.0
                    td
                        |0.0
                    td
                        |预提
                tr
                    td
                        |1
                    td
                        |上海万象文化发展有限公司
                    td
                        |201507
                    td
                        |29917
                    td
                        |197819.7
                    td
                        |0.0
                    td
                        |0.0 
                    td
                        |0.0
                    td
                        |0.0
                    td
                        |0.0
                    td
                        |0.0
                    td
                        |0.0
                    td
                        |0.0 
                    td
                        |0.0
                    td
                        |0.0
                    td
                        |0.0
                    td
                        |0.0
                    td
                        |预提
                tr
                    td
                        |1
                    td
                        |上海万象文化发展有限公司
                    td
                        |201507
                    td
                        |29917
                    td
                        |197819.7
                    td
                        |0.0
                    td
                        |0.0 
                    td
                        |0.0
                    td
                        |0.0
                    td
                        |0.0
                    td
                        |0.0
                    td
                        |0.0
                    td
                        |0.0 
                    td
                        |0.0
                    td
                        |0.0
                    td
                        |0.0
                    td
                        |0.0
                    td
                        |预提
                tr
                    td
                        |1
                    td
                        |上海万象文化发展有限公司
                    td
                        |201507
                    td
                        |29917
                    td
                        |197819.7
                    td
                        |0.0
                    td
                        |0.0 
                    td
                        |0.0
                    td
                        |0.0
                    td
                        |0.0
                    td
                        |0.0
                    td
                        |0.0
                    td
                        |0.0 
                    td
                        |0.0
                    td
                        |0.0
                    td
                        |0.0
                    td
                        |0.0
                    td
                        |预提
                tr
                    td
                        |1
                    td
                        |上海万象文化发展有限公司
                    td
                        |201507
                    td
                        |29917
                    td
                        |197819.7
                    td
                        |0.0
                    td
                        |0.0 
                    td
                        |0.0
                    td
                        |0.0
                    td
                        |0.0
                    td
                        |0.0
                    td
                        |0.0
                    td
                        |0.0 
                    td
                        |0.0
                    td
                        |0.0
                    td
                        |0.0
                    td
                        |0.0
                    td
                        |预提