extends templates/pms

block vars

block title
  |运输关系设置

block styles

block content
    body.login-bjs
        div.row
            div.col-sm-6
                h3.login-address 线路维护
            div.col-sm-6.login-Page
                a(href="") 帮助
        div.row
            div.col-sm-12
                hr
        div.row
            div.col-sm-6
                table
                    tr
                        td
                            |发货地:
                        td
                            table
                                tr
                                    td
                                        input(type="radio" name="fahuo")
                                        &nbsp;
                                        |分拣中心
                                        &nbsp;
                                    td
                                        select.form-control
                                            option 请选择
                                tr
                                    td
                                        input(type="radio" name="fahuo")
                                        &nbsp;
                                        |配送商
                                        &nbsp;
                                    td
                                        select.form-control
                                            option 请选择
                                    td
                                        select.form-control
                                            option 请选择
                                tr
                                    td
                                        &nbsp;
                                        br
                                tr
                                    td
                                        &nbsp;
                                        br
                    tr
                        td
                            |是否城际:
                            &nbsp;
                        td
                            input(type="radio" name="chengji")
                            &nbsp;
                            |是
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            input(type="radio" name="chengji")
                            &nbsp;
                            |否
                br
                form.form-inline
                    div.form-group
                        a(href="") 下载模板
                        div.input-group
                            div.input-group-addon.login-choice 选择文件
                            input.login-select(type="text" class="form-control" placeholder="未选择任何文件")
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        button(class="btn btn-default login-btn" type="button")
                            |上传
            div.col-sm-6
                table
                    tr
                        td
                            |运输目的地:
                            &nbsp;&nbsp;
                        td
                            table
                                tr
                                    td
                                        input(type="radio" name="yunshu")
                                        &nbsp;
                                        |配送商
                                        &nbsp;
                                    td
                                        select.form-control
                                            option 请选择
                                    td
                                        select.form-control
                                            option 请选择
                                tr
                                    td
                                        input(type="radio" name="yunshu")
                                        &nbsp;
                                        |分拣中心
                                        &nbsp;
                                    td
                                        select.form-control
                                            option 请选择 
                                tr
                                    td
                                        input(type="radio" name="yunshu")
                                        &nbsp;
                                        |站点
                                    td
                                        select.form-control
                                            option 请选择 
                    tr
                        td
                            |是否停用:
                        td
                            input(type="radio" name="tingyong")
                            &nbsp;
                            |启用 
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            input(type="radio" name="tingyong")
                            &nbsp;
                            |停用
                br
                button(class="btn btn-default login-btn" type="button")查询(Q)
                button(class="btn btn-default login-btn" type="button")新增(N)
                button(class="btn btn-default login-btn" type="button")导出(E)
        div.table-responsive.login-top
            table.table.table-bordered
                tr.active
                    td
                        input(type="checkbox")
                    td
                        |序号
                    td
                        |发货地
                    td
                        |运输目的地
                    td
                        |配送商
                    td
                        |是否城际运输
                    td
                        |启用状态   
                    td
                        |修改
                tr.warning
                    td
                        input(type="checkbox")
                    td
                        |1
                    td
                        |成都分拣中心
                    td
                        |成都青羊站
                    td
                        |如风达快递有限公司
                    td
                        |否
                    td
                        |停用   
                    td
                        a(href="")修改
                tr.success
                    td
                        input(type="checkbox")
                    td
                        |1
                    td
                        |成都分拣中心
                    td
                        |成都青羊站
                    td
                        |如风达快递有限公司
                    td
                        |否
                    td
                        |停用   
                    td
                        a(href="")修改
                tr.warning
                    td
                        input(type="checkbox")
                    td
                        |1
                    td
                        |成都分拣中心
                    td
                        |成都青羊站
                    td
                        |如风达快递有限公司
                    td
                        |否
                    td
                        |停用   
                    td
                        a(href="")修改
                tr.success
                    td
                        input(type="checkbox")
                    td
                        |1
                    td
                        |成都分拣中心
                    td
                        |成都青羊站
                    td
                        |如风达快递有限公司
                    td
                        |否
                    td
                        |停用   
                    td
                        a(href="")修改
                tr.warning
                    td
                        input(type="checkbox")
                    td
                        |1
                    td
                        |成都分拣中心
                    td
                        |成都青羊站
                    td
                        |如风达快递有限公司
                    td
                        |否
                    td
                        |停用   
                    td
                        a(href="")修改
                tr.success
                    td
                        input(type="checkbox")
                    td
                        |1
                    td
                        |成都分拣中心
                    td
                        |成都青羊站
                    td
                        |如风达快递有限公司
                    td
                        |否
                    td
                        |停用   
                    td
                        a(href="")修改
                tr.warning
                    td
                        input(type="checkbox")
                    td
                        |1
                    td
                        |成都分拣中心
                    td
                        |成都青羊站
                    td
                        |如风达快递有限公司
                    td
                        |否
                    td
                        |停用   
                    td
                        a(href="")修改
                tr.success
                    td
                        input(type="checkbox")
                    td
                        |1
                    td
                        |成都分拣中心
                    td
                        |成都青羊站
                    td
                        |如风达快递有限公司
                    td
                        |否
                    td
                        |停用   
                    td
                        a(href="")修改
        div.col-sm-6
            span
                共找到1646条记录
        div.col-sm-6.login-Page
            div
                span.login-numbers
                    首页
                span.login-numbers
                    前页
                span.login-numberss
                    |1
                span.login-numbers
                    后页
                span.login-numbers
                    尾页
                span
                    转到第
                    select
                        option 1
                    |页 