extends templates/pms

block vars

block title
  |运输关系设置

block styles

block content
    body.login-bjs
        div.row
            div.col-sm-6
                h3.login-address 线路维护
            div.col-sm-6.login-Page
                a(href="") 帮助
        div.row
            div.col-sm-12
                hr
        div.row
            div.col-sm-6
                table
                    tr
                        td(rowspan="3")
                            |发货地:
                        td
                            input(type="radio" name="fahuo")
                            |分拣中心
                        td
                            select
                                option 请选择
                    tr
                        td
                            input(type="radio" name="fahuo")
                            |配送商
                        td
                            select
                                option 请选择
                        td
                        td
                            select
                                option 请选择
                    tr
            div.col-sm-6
                table
                    tr
                        td(rowspan="3")
                            |运输目的地:
                        td
                            input(type="radio" name="fahuo")
                            |配送商
                        td
                            select.login-layoutss
                                option 请选择
                        td
                            select.login-layoutss
                                option 请选择
                    tr
                        td
                            input(type="radio" name="fahuo")
                            |分拣中心
                        td
                            select.login-layoutss
                                option 请选择 
                        td
                    tr
                        td
                            input(type="radio" name="fahuo")
                            |站点
                        td
                            select.login-layoutss
                                option 请选择 
                        td
        div.table-responsive
            table.table.table-bordered
                tr.active
                    td
                        input(type="chebox")
                    td
                        |序号
                    td
                        |发货地
                    td
                        |运输目的地
                    td
                        |配送商
                    td
                        |是否城际运输
                    td
                        |启用状态   
                    td
                        |修改