extends templates/pms

block vars

block title
  |文件上传历史

block styles

block content
    body.gray-bg.login-bj
        div.wrapper.wrapper-content.animated.fadeInRight
            div.row.border-bottom.white-bg.dashboard-header.login-business
                button(type="button" class="btn btn-primary")
                    |批量操作
                div.col-md-9.col-sm-12.login-number
                    from.form-inline.login-classification
                        div.form-group
                            input(type="text" class="form-control" id="exampleInputName2" placeholder="商家名称")
                            input(type="text" class="form-control" id="exampleInputName2" placeholder="商家编码")
                            select.form-control
                                option 所有分类
                                option 电商
                                option 金融
                                option 家购
                                option 快件
                                option 020
                                option 其他
                            i.fa.fa-search.login-search
                div.table-responsive.login-information
                    table.table.table-bordered.table-striped
                        tr
                            th
                                input(type="checkbox")
                            th
                                |序号 
                            th
                                |报表名称
                            th
                                |上传时间
                            th
                                |导入数量
                            th
                                |状态
                            th
                                |下载
                            td
                                |部门丢失
                            td
                                |财务科目丢失
                        tr
                            th
                                input(type="checkbox")
                            th
                                |序号 
                            th
                                |报表名称
                            th
                                |上传时间
                            th
                                |导入数量
                            th
                                |状态
                            th
                                |下载
                            td
                                |部门丢失
                            td
                                |财务科目丢失
                        tr
                            th
                                input(type="checkbox")
                            th
                                |序号 
                            th
                                |报表名称
                            th
                                |上传时间
                            th
                                |导入数量
                            th
                                |状态
                            th
                                |下载
                            td
                                |部门丢失
                            td
                                |财务科目丢失
                        tr
                            th
                                input(type="checkbox")
                            th
                                |序号 
                            th
                                |报表名称
                            th
                                |上传时间
                            th
                                |导入数量
                            th
                                |状态
                            th
                                |下载
                            td
                                |部门丢失
                            td
                                |财务科目丢失
                        tr
                            th
                                input(type="checkbox")
                            th
                                |序号 
                            th
                                |报表名称
                            th
                                |上传时间
                            th
                                |导入数量
                            th
                                |状态
                            th
                                |下载
                            td
                                |部门丢失
                            td
                                |财务科目丢失
                        tr
                            th
                                input(type="checkbox")
                            th
                                |序号 
                            th
                                |报表名称
                            th
                                |上传时间
                            th
                                |导入数量
                            th
                                |状态
                            th
                                |下载
                            td
                                |部门丢失
                            td
                                |财务科目丢失
                        tr
                            th
                                input(type="checkbox")
                            th
                                |序号 
                            th
                                |报表名称
                            th
                                |上传时间
                            th
                                |导入数量
                            th
                                |状态
                            th
                                |下载
                            td
                                |部门丢失
                            td
                                |财务科目丢失
                div
                    |总计
                    span 1949
                    |个记录,共
                    span 195
                    |页,第
                    span 1
                    |页&nbsp;&nbsp;跳至
                    input(type="text")
                    a(class="btn btn-sm default") GO
                    span.login-number
                        button(class="btn btn-default")
                            |1
                        button(class="btn btn-default")
                            |2
                        button(class="btn btn-default")
                            |3
                        button(class="btn btn-default")
                            |4
                        button(class="btn btn-default")
                            |5
                        button(class="btn btn-default")
                            |6
                        button(class="btn btn-default")
                            |7
                        button(class="btn btn-default")
                            |8
                        button(class="btn btn-default")
                            |9
                        i.fa.fa-angle-right.login-back